<div class="container">
  <button (click) ="Crear()">Crear</button>
    <div class="row">
      <div class="col-6">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
             
             
                <tr *ngFor="let country of countries"  >
                  <th scope="row">{{country.Id}}</th>
                  <td [ngStyle]="{'color': country.status == true ? 'green' : 'red' }">{{country.Name}}</td>
                  <td [ngClass]="{'red' : !country.status, 'green' : country.status }">{{country.Description}}</td>
                  <td *ngIf="country.status"> <i class="fa fa-check" aria-hidden="true"></i></td>
                  <td *ngIf="!country.status"><i class="fa fa-certificate" aria-hidden="true"></i></td>
                </tr>
              
              
             
            </tbody>
          </table>
      </div>
      <div class="col-6">
        <app-reactive-form></app-reactive-form>
      </div>  
    </div>
    
</div>
  