<div class="container">
  <button (click) ="Crear()">Crear</button>
    <div class="row">
      <div class="col-6">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actiones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let country of countries">
                <th scope="row">{{country.Id}}</th>
                <td>{{country.Name}}</td>
                <td>{{country.Description}}</td>
                <td>Del</td>
              </tr>
             
            </tbody>
          </table>
      </div>
      <div class="col-6">
        <form>
          <input type="text" name="name" [(ngModel)]="name" />
          <input type="text" name="description" [(ngModel)]="description" />
        </form>
      </div>
    </div>
    
</div>
  