<div>
  <div style="height: 10vh; background-color: rgb(83, 14, 14);"> 
  <app-header> </app-header>
  
  </div>
  <div  style="height: 80vh;  background-color: aquamarine;"> 
  <app-main></app-main>
  </div>
  <div  style="height: 10vh;  background-color: brown;"> <app-footer></app-footer></div>
</div>

<router-outlet></router-outlet>
